In [1]:
# Scikit-learn models:
from sklearn.metrics import accuracy_score
from sklearn import svm
import graphviz

# Base packages:
from IPython.display import SVG
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
# Load data:
data = pd.read_csv("../data/Final_Results_Pupil_v2.csv", sep=";")

# Print first 5 rows:
data

,Participant,World,TrialName,Task,Duration,Milliseconds,Errors,Baseline,APCPS,MPD,...,MPDC_A,SD_A,PeakDilation_A,Latencytopeak_A,Changeposition_A,Attempts_A,ChangepositionAttemps_A,Errorschangeposition_A,ErrorsAttemps_A,Totalerrors_A
0,1,2,2_5,25,00:00:45,44785,0,"30,7896",",0409","32,049",...,"2,9259","1,5489","6,0057",65,2,0,2,3,1,3
1,3,2,2_4,24,00:01:53,112464,1,"18,1298",",0524","19,0801",...,"2,3878","1,3852","4,9936",33,0,2,2,0,2,2
2,6,2,2_4,24,00:00:40,39458,0,"27,0984",",0869","29,4543",...,"2,2689",",8128","4,0133",9,0,0,0,0,0,0
3,6,2,2_5,25,00:00:46,45055,0,"29,3381",",0288","30,1824",...,"1,3159",",8638","3,0021",38,1,0,1,1,0,1
4,7,2,2_4,24,00:02:28,147727,7,"25,5965",",0839","27,745",...,"4,3299","1,0139","6,9429",14,0,0,0,0,0,0
5,7,2,2_5,25,00:00:23,22825,0,"27,5585",",0029","27,639",...,"3,2252","1,0105","5,764",151,5,9,14,10,14,19
6,8,2,2_4,24,00:01:47,106656,4,"19,1137",",0789","20,6213",...,"3,0102","1,1218","5,8991",28,0,0,0,0,0,0
7,9,2,2_4,24,00:00:36,35397,0,"23,5228",",0344","24,3316",...,"3,65",",9193","5,3706",5,0,0,0,0,0,0
8,9,2,2_5,25,00:00:32,31082,0,"20,5479",",1786","24,2184",...,"1,6062",",7782","3,5325",36,2,2,4,4,4,6
9,10,2,2_4,24,4.8596064814814812E-4,41987,1,"18,3643",",197","21,9812",...,"2,5888","1,1392","5,0655",80,6,0,6,6,0,6
10,10,2,2_5,25,3.6997685185185186E-4,31966,0,"18,6012",",1777","21,9065",...,",5017","1,1169","3,2432",98,1,2,3,3,4,5
11,11,2,2_4,24,5.5513888888888887E-4,47964,0,"21,5151",",1747","25,2731",...,"2,8817","1,452","5,5053",16,0,0,0,0,0,0
12,11,2,2_5,25,3.5859953703703705E-4,30983,0,"21,7631",",1261","24,5064",...,"4,1704","1,3014","7,4057",78,2,6,8,2,6,8
13,12,2,2_4,24,5.6638888888888895E-4,48936,0,"27,62",",1232","31,0231",...,"3,8829",",9225","5,9839",60,1,4,5,2,5,6
14,12,2,2_5,25,5.206712962962962E-4,44986,0,"25,4822",",2395","31,5844",...,"2,8365",",9903","4,687",73,0,9,9,1,10,10
15,13,2,2_4,24,5.9003472222222226E-4,50979,0,"17,5652",",115","19,5844",...,"3,3174",",9586","5,1403",18,0,0,0,0,0,0
16,13,2,2_5,25,3.8189814814814819E-4,32996,0,"17,1479",",1422","19,5858",...,"3,087","1,0424","5,3056",43,0,2,2,0,2,2
17,14,2,2_4,24,5.4383101851851847E-4,46987,0,"19,9891",",1366","22,7204",...,"7,611","1,676","10,0274",37,1,1,2,1,1,2
18,14,2,2_5,25,4.6244212962962954E-4,39955,0,"20,0549",",1281","22,6229",...,"5,5716","2,0636","8,1865",16,0,0,0,0,0,0
19,16,2,2_4,24,5.3233796296296286E-4,45994,0,"18,027",",0809","19,485",...,"1,2529",",8762","3,2155",47,0,1,1,0,1,1
20,16,2,2_5,25,3.1237268518518522E-4,26989,0,"17,8796",",1204","20,032",...,"1,9833",",954","4,1851",166,5,3,8,21,19,24
21,17,2,2_4,24,1.411898148148148E-3,121988,0,"28,1387",",0249","28,8404",...,",6156",",7161","2,2605",31,0,0,0,0,0,0
22,20,2,2_4,24,1.5507986111111113E-3,133989,1,"19,7495",",1426","22,5658",...,"2,55",",9266","4,774",44,0,0,0,0,0,0
23,20,2,2_5,25,4.6253472222222225E-4,39963,0,"20,899",",044","21,8187",...,"2,4679","1,0566","4,9241",216,0,0,0,0,0,0
24,1,4,4_4,44,00:02:06,125054,5,"30,8112",",0523","32,4214",...,"2,968","1,0013","6,2579",189,1,4,5,6,9,10
25,1,4,4_6,46,00:00:50,49982,0,"29,6913",",0804","32,0791",...,,,,,,,,,,
26,2,4,4_6,46,00:02:35,154119,1,"23,7185",",033","24,5018",...,,,,,,,,,,
27,4,4,4_4,44,00:01:07,66404,0,"17,6066",",0747","18,9225",...,,,,,,,,,,
28,4,4,4_6,46,00:01:35,94632,0,"16,255",",1827","19,225",...,,,,,,,,,,
29,5,4,4_4,44,00:03:25,204766,5,"21,6351",",1491","24,8603",...,,,,,,,,,,
30,5,4,4_6,46,00:00:48,47576,0,"19,3233",",2241","23,6532",...,,,,,,,,,,
31,6,4,4_4,44,00:01:29,88938,0,"26,7903",",1317","30,3196",...,,,,,,,,,,
32,6,4,4_6,46,00:01:04,63600,0,"26,8314",",136","30,4814",...,,,,,,,,,,
33,7,4,4_4,44,00:01:03,62274,1,"25,168",",1543","29,0523",...,,,,,,,,,,
34,7,4,4_6,46,00:01:35,94117,0,"26,1467",",099","28,7355",...,,,,,,,,,,
35,9,4,4_4,44,00:00:41,40715,0,"21,2519",",1356","24,1336",...,,,,,,,,,,
36,9,4,4_6,46,00:01:34,93060,0,"20,5014",",2034","24,6718",...,,,,,,,,,,
37,10,4,4_4,44,00:01:40,99961,1,"18,9706",",2047","22,8535",...,,,,,,,,,,
38,10,4,4_6,46,00:01:38,97937,1,"20,2885",",1398","23,125",...,,,,,,,,,,
39,11,4,4_4,44,00:00:46,45982,0,"22,412",",148","25,7294",...,,,,,,,,,,
40,11,4,4_6,46,00:00:57,56982,0,"22,5378",",137","25,6248",...,,,,,,,,,,
41,12,4,4_4,44,00:00:59,58988,0,"23,3655",",3257","30,9765",...,,,,,,,,,,
42,12,4,4_6,46,00:00:42,41988,0,"25,3145",",2201","30,8861",...,,,,,,,,,,
43,14,4,4_4,44,00:05:23,322954,16,"20,9345",",0947","22,9178",...,,,,,,,,,,
44,14,4,4_6,46,00:01:17,76969,0,"20,3783",",1198","22,8204",...,,,,,,,,,,
45,16,4,4_4,44,00:00:56,55971,0,"18,6503",",0935","20,3937",...,,,,,,,,,,
46,16,4,4_6,46,00:00:43,42972,0,"17,963",",1075","19,8933",...,,,,,,,,,,
47,19,4,4_4,44,00:01:20,79965,0,"17,5586",",1406","20,0265",...,,,,,,,,,,
48,19,4,4_6,46,00:01:28,87975,0,"16,5255",",1514","19,0278",...,,,,,,,,,,
49,20,4,4_6,46,00:04:01,240978,5,"17,3206",",1714","20,2886",...,,,,,,,,,,

In [3]:
# Create testing indices.
# Subjects: 3, 12, 20
# 12: 13, 14, 41, 42
test_idx = [1, 13, 14, 22, 23, 41, 42, 49]
print("Testing indices:", test_idx)

Testing indices: [1, 13, 14, 22, 23, 41, 42, 49]

In [4]:
def clean_data(data):
    """Utlity function to parse data."""
    for col in range(data.shape[1]):
        for row in range(data.shape[0]):
            try:
                data[row, col] = float(data[row, col].replace(',', '.'))
            except:
                pass

In [5]:
# Create features and labels (data):
features = data[['Errors', 'Milliseconds', 'MPDC', 'PeakDilation']].values
labels = data[['World']].values
clean_data(features)

# Create features and labels (names):
feature_names = np.array(['Errors', 'Milliseconds', 'MPDC', 'PeakDilation'])
label_names = np.array(['World 1', 'World 2'])

# Create training data:
train_data = np.delete(features, test_idx, axis=0)
train_lbls = np.delete(labels, test_idx)

# Deleted 12th participant:
#test_idx = np.delete(test_idx, [1, 2, 5, 6])

# Create testing data:
test_data = features[test_idx]
test_lbls = labels[test_idx]

# Print test data/labels:
#display(test_data)
#display(test_lbls)

In [6]:
# Build classifier:
clf = svm.SVC(kernel='rbf', gamma=1e-8, C=100, tol=1e-5)
display(clf)
clf.fit(train_data, train_lbls)

# Predict data:
prediction = clf.predict(test_data)
print("Predictions: \t", prediction)

# Compare with labels:
print("Testing labels: ", test_lbls.flatten())
acc_sc = accuracy_score(test_lbls, prediction)
print("Accuracy score: {}%".format(acc_sc*100))

SVC(C=100, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=1e-08, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=1e-05, verbose=False)

Predictions: 	 [2 2 2 4 2 4 2 4]
Testing labels:  [2 2 2 2 2 4 4 4]
Accuracy score: 75.0%

In [7]:
clf.__dict__

{'C': 100,
 '_dual_coef_': array([[ 100.        ,   27.94324084,   59.52663383,    3.28113734,
            1.13966994,    1.91815873,  100.        ,  100.        ,
          100.        ,    8.44615295,   18.85527338,   10.75623296,
          -10.50953261, -100.        ,   -2.81702062,   -0.63829374,
         -100.        , -100.        ,   -1.91777893, -100.        ,
           -0.63829518,  -14.77701413, -100.        ,   -0.56856477]]),
 '_gamma': 1e-08,
 '_impl': 'c_svc',
 '_intercept_': array([-0.36170698]),
 '_sparse': False,
 'cache_size': 200,
 'class_weight': None,
 'class_weight_': array([1., 1.]),
 'classes_': array([2, 4]),
 'coef0': 0.0,
 'decision_function_shape': 'ovr',
 'degree': 3,
 'dual_coef_': array([[-100.        ,  -27.94324084,  -59.52663383,   -3.28113734,
           -1.13966994,   -1.91815873, -100.        , -100.        ,
         -100.        ,   -8.44615295,  -18.85527338,  -10.75623296,
           10.50953261,  100.        ,    2.81702062,    0.63829374,
          100.        ,  100.        ,    1.91777893,  100.        ,
            0.63829518,   14.77701413,  100.        ,    0.56856477]]),
 'epsilon': 0.0,
 'fit_status_': 0,
 'gamma': 1e-08,
 'intercept_': array([0.36170698]),
 'kernel': 'rbf',
 'max_iter': -1,
 'n_support_': array([12, 12], dtype=int32),
 'nu': 0.0,
 'probA_': array([], dtype=float64),
 'probB_': array([], dtype=float64),
 'probability': False,
 'random_state': None,
 'shape_fit_': (42, 4),
 'shrinking': True,
 'support_': array([ 0,  1,  2,  3,  4,  5,  8, 10, 12, 14, 15, 18, 19, 20, 21, 24, 25,
        30, 32, 34, 36, 38, 39, 40], dtype=int32),
 'support_vectors_': array([[0.00000e+00, 4.47850e+04, 1.25940e+00, 3.58000e+00],
        [0.00000e+00, 3.94580e+04, 2.35590e+00, 4.62110e+00],
        [0.00000e+00, 4.50550e+04, 8.44300e-01, 2.25730e+00],
        [7.00000e+00, 1.47727e+05, 2.14850e+00, 5.19330e+00],
        [0.00000e+00, 2.28250e+04, 8.05000e-02, 1.49670e+00],
        [4.00000e+00, 1.06656e+05, 1.50760e+00, 3.90340e+00],
        [1.00000e+00, 4.19870e+04, 3.61690e+00, 5.32850e+00],
        [0.00000e+00, 4.79640e+04, 3.75800e+00, 6.19730e+00],
        [0.00000e+00, 5.09790e+04, 2.01920e+00, 4.14990e+00],
        [0.00000e+00, 4.69870e+04, 2.73130e+00, 4.77600e+00],
        [0.00000e+00, 3.99550e+04, 2.56800e+00, 4.82950e+00],
        [0.00000e+00, 1.21988e+05, 7.01700e-01, 3.56320e+00],
        [5.00000e+00, 1.25054e+05, 1.61020e+00, 3.40820e+00],
        [0.00000e+00, 4.99820e+04, 2.38780e+00, 4.99360e+00],
        [1.00000e+00, 1.54119e+05, 7.83300e-01, 4.44430e+00],
        [5.00000e+00, 2.04766e+05, 3.22520e+00, 5.76400e+00],
        [0.00000e+00, 4.75760e+04, 4.32990e+00, 6.94290e+00],
        [0.00000e+00, 4.07150e+04, 2.88170e+00, 5.50530e+00],
        [1.00000e+00, 9.99610e+04, 3.88290e+00, 5.98390e+00],
        [0.00000e+00, 4.59820e+04, 3.31740e+00, 5.14030e+00],
        [1.60000e+01, 3.22954e+05, 1.98330e+00, 4.18510e+00],
        [0.00000e+00, 5.59710e+04, 1.74340e+00, 3.71870e+00],
        [0.00000e+00, 4.29720e+04, 1.93030e+00, 3.26500e+00],
        [0.00000e+00, 7.99650e+04, 2.46790e+00, 4.92410e+00]]),
 'tol': 1e-05,
 'verbose': False}